/*
*
  This controls the stripe image on the home page. Highly advise leaving this alone.
*
*/

.stripes {
  height: 100vh;
  width: 870px;
  position: absolute;
  top: 0;
  background-image: url("../../public/Home/stripes_base.svg");
  right: 0;
}
/*md*/
@media (min-width: 1024px) {
  .stripes {
    height: 100vh;
    width: 870px;
    position: absolute;
    top: 0;
    background-image: url("../../public/Home/stripes_base.svg");
    right: 0;
  }
}
/*lg*/
@media (min-width: 1024px) {
  .stripes {
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    right: -30%;
    background-image: url("../../public/Home/stripes_3xl.svg");
    background-repeat: no-repeat;
  }
}
/*2xl*/
@media (min-width: 1536px) {
  .stripes {
    height: 100vh;
    min-height: 1000px;
    width: 100vw;
    right: -32%;
    background-image: url("../../public/Home/stripes_3xl.svg");
    background-repeat: no-repeat;
  }
}
/*3xl*/
@media (min-width: 2200px) {
  .stripes {
    height: 100vh;
    max-height: 1200px;
    min-height: 800px;
    width: 2000px;
    right: -30%;
    background-image: url("../../public/Home/stripes_3xl.svg");
    background-repeat: no-repeat;
  }
}
