@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

/* Components */
@import url("./components/gradient-box.css");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", "sans-serif";
}
p,
a,
button,
span {
  font-family: "Source Sans Pro", "sans-serif";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  section {
    @apply md:max-w-screen-3xl md:max-h-3xl m-auto py-16 md:py-20;
  }
  header {
    @apply max-w-screen-3xl left-0 right-0 m-auto;
  }
  h1 {
    @apply text-4xl font-bold md:text-6xl 2xl:text-7xl 3xl:text-8xl;
  }
  h2 {
    @apply text-3xl font-bold md:text-5xl 2xl:text-6xl 3xl:text-7xl;
  }
  h3 {
    @apply text-3xl font-bold md:text-4xl 2xl:text-5xl;
  }
  h4 {
    @apply text-xl font-bold 2xl:text-3xl 3xl:text-4xl;
  }
  h5 {
    @apply text-lg lg:text-xl 2xl:text-2xl;
  }
  p {
    @apply text-lg md:text-xl 2xl:text-2xl 3xl:text-3xl;
  }
  button {
    @apply text-lg rounded border-2 border-white w-40 py-2 md:text-xl md:w-48 md:py-3 2xl:text-2xl 2xl:w-60 2xl:py-4 3xl:text-3xl 3xl:w-72;
  }
}
@layer components {
  .wrapper {
    @apply m-auto w-5/6 md:w-11/12 lg:w-10/12 max-w-screen-3xl;
  }
}
